// Place all the styles related to the Api::Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.poke-list img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.item-details img {
  max-width: 100px;
}

main {
  display: flex;
  align-items: flex-start;
}


.pokemon-col {
  flex: 8;
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  border: 1px solid $grey;
}

.poke-list {
  display: flex;
  align-content: center;
  margin: 5px;
  border-bottom: 1px solid $grey;
  //border-bottom-width: medium;
  width: 100%;
  padding: 5px;
}

.all-poke {
  list-style-type: none;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  margin-left: 10px;
}

// .all-poke:first-child {
//   border-top: 1px solid $grey;
// }
